<html>
<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .container-fluid {
            margin-bottom: 20px;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myCtrl as ctrl">

<div class="container-fluid">
    <h5>新增資料</h5>
    <div class="form-group">
        <label>會員名稱</label>
        <input
          ng-model="ctrl.formFields.Name"
          type="text"
          class="form-control"
        >
    </div>
    <div class="form-group">
        <label>會員手機</label>
        <input
          ng-model="ctrl.formFields.Phone"
          type="text"
          class="form-control"
          name="phone"
          placeholder="手機號碼"
        >
    </div>
    <div class="form-group">
        <label>會員地址</label>
        <input
          ng-model="ctrl.formFields.Address"
          type="text"
          class="form-control"
          name="address"
          placeholder="地址"
        >
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">備註</label>
        <textarea
          ng-model="ctrl.formFields.Note"
          class="form-control"
          id="exampleFormControlTextarea1"
          name="desc"
          rows="3"
        ></textarea>
    </div>
    <button
      ng-click="ctrl.submit()"
      type="button"
      class="btn btn-primary"
    >Add</button>
    <button type="button" class="btn">Cancel</button>
</div>

<div class="container-fluid">
    <h5>列表資料</h5>
    <!--TODO <table></table>-->
    <!-- 顯示資料的表格 -->
    <table class="table">
      <thead>
        <tr>
          <th
            ng-repeat="item in ctrl.tableTitle"
            scope="col"
          >{{ item.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in ctrl.tableData track by $index">
          <td ng-if="item.isEditing === false">{{ item.number }}</td>
          <td ng-if="item.isEditing === false">{{ item.name }}</td>
          <td ng-if="item.isEditing === false">{{ item.phone }}</td>
          <td ng-if="item.isEditing === false">{{ item.address }}</td>
          <td ng-if="item.isEditing === false">{{ item.note }}</td>
          <td ng-if="item.isEditing === false">
            <button ng-click="ctrl.deleteMember(item.id)" type="button" class="btn">Delete</button>
            <button ng-click="ctrl.editMember(item.id)" type="button" class="btn">Edit</button>
          </td>

          <td ng-if="item.isEditing === true">
            <input ng-model="item.number" type="text" class="form-control">
          </td>
          <td ng-if="item.isEditing === true">
            <input ng-model="item.name" type="text" class="form-control">
          </td>
          <td ng-if="item.isEditing === true">
            <input ng-model="item.phone" type="text" class="form-control">
          </td>
          <td ng-if="item.isEditing === true">
            <input ng-model="item.address" type="text" class="form-control">
          </td>
          <td ng-if="item.isEditing === true">
            <input ng-model="item.note" type="text" class="form-control">
          </td>
          <td ng-if="item.isEditing === true">
            <button ng-click="ctrl.saveEdit(item.id)" type="button" class="btn">Save</button>
            <button ng-click="ctrl.cancelEdit(item.id)" type="button" class="btn">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- 顯示資料的表格 -->
</div>


<script src="node_modules/angular/angular.min.js"></script>
<script src="built/local/output.js"></script>
</body>
</html>
